.success {
    color: green;
}

.unsuccess {
    color: red;
}

th.results, td.results {
    vertical-align: top;
    text-align: center;
    width: 200px;
    height: 30px;
    font-size: 18px;
    padding-bottom: 15px;
}

h1, h2, form {
    margin-top: 15px;
    margin-left: 5px;
}

h2 {
    margin-left: 20px;
}

td.exercise {
    text-align: center;
    vertical-align: middle;
    height: 45px;
    padding-right: 10px;
}

th.exercise, td.exercise, td.exercise input {
    font-size: 18px;
}

th.exercise:last-child {
    text-align: center;
}

td.exercise:last-child {
    width: 300px;
    vertical-align: middle;
    text-align: center;
}

label, input {
    display: block;
}

input[type='submit'] {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    width: 100px;
    height: 30px;
    box-shadow: 1px 1px 0px black;
}

.table-container {
    height: 50em;
}

table.list {
    border-collapse: collapse;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

thead.list {
    display: table;
    width: calc(100% - 1.05em);
    text-align: left;
}

tbody.list {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    width: 100%;
}

tbody.list tr {
    width: 100%;
}

thead.list, tbody.list tr {
    display: table;
    table-layout: fixed;
}

td.list {
    height: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
}

th.list {
    height: 30px;
}

th.list, td.list {
    font-size: 18px;
    border: 1px solid lightgray;
}