:root {
    --link-fg: #447e9b;
    --link-hover-color: #036;

    --button-fg: #fff;
    --button-bg: #79aec8;
    --button-hover-bg: #609ab6;
}

.success {
    color: green;
}

.unsuccess {
    color: red;
}

.annotations {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

th.results, td.results {
    vertical-align: top;
    text-align: center;
    width: 200px;
    height: 30px;
    font-size: 18px;
    padding-bottom: 15px;
}

h1, h2, form {
    margin-left: 5px;
}

h2 {
    margin-left: 20px;
}

a.link {
    display: inline-block;
    margin-bottom: 20px;
}

a:link, a:visited {
    color: var(--link-fg);
    text-decoration: none;
    transition: color 0.15s, background 0.15s;
}

a:focus, a:hover {
    color: var(--link-hover-color);
}

a:focus {
    text-decoration: underline;
}

nav a {
    margin-bottom: 0px;
    margin-right: 10px;
}

p.table-list {
    font-size: 18px;
    margin-left: 10px;
}

ul.table-list {
    font-size: 18px;
    margin-left: 5px;
}

ul.table-list li {
    margin-bottom: 5px;
}

div.counter p {
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
}

td.exercise {
    text-align: center;
    vertical-align: middle;
    height: 45px;
    padding-right: 10px;
}

th.exercise, td.exercise, td.exercise input {
    font-size: 18px;
}

th.exercise:last-child {
    text-align: center;
}

td.exercise:last-child {
    width: 300px;
    vertical-align: middle;
    text-align: center;
}

label, input {
    display: block;
}

.button {
    display: inline-block;
    background: var(--button-bg);
    color: var(--button-fg);
    margin-top: 20px;
    margin-right: 20px;
    width: 100px;
    height: 40px;
    box-shadow: 1px 1px 0px black;
    border-radius: 4px;
    border: none;
    transition: background 0.15s;
    cursor: pointer;
}

.button:active, .button:focus, .button:hover {
    background: var(--button-hover-bg);
}

.table-container {
    height: 50em;
}

table.list {
    border-collapse: collapse;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

thead.list {
    display: table;
    width: calc(100% - 1.0em);
    text-align: left;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

tbody.list {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    width: 100%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

tbody.list tr {
    width: 100%;
}

thead.list, tbody.list tr {
    display: table;
    table-layout: fixed;
}

th.list, td.list {
    font-size: 18px;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

td.list {
    height: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
}

th.list {
    height: 30px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}