@import url(fonts.css);

:root {
    --body-fg: #333;
    --body-bg: #fff;
    --body-quiet-color: #666;

    --link-fg: #447e9b;
    --link-hover-color: #036;

    --button-fg: #fff;
    --button-bg: #79aec8;
    --button-hover-bg: #609ab6;
}

body {
    font-size: 14px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: var(--body-fg);
    background: var(--body-bg);
}

h1, h2, form {
    margin-top: 30px;
    margin-left: 10px;
    font-weight: 300;
    font-size: 20px;
    color: var(--body-quiet-color);
}

h2 {
    margin-left: 20px;
}

p {
    margin-left: 10px;
    font-size: 16px;
}

p, li {
    font-weight: 300;
}

a {
    font-size: 16px;
}

nav {
    margin-top: 10px;
    margin-left: 2px;
}

nav a {
    font-size: 14px;
    margin-bottom: 0px;
    margin-right: 10px;
}

label, input {
    display: block;
}

/* color success and unsuccess verbs */

.success {
    color: green;
}

.unsuccess {
    color: red;
}

/* annotations near title */

.annotations {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}

/* link */

div.link div.update-delete {
    display: inline-block;
}

div.link {
    width: 69em;
}

a.link {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
}

div.update-delete {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-left: 10px;
}

a.update, a.delete {
    font-size: 12px;
    margin-left: 10px;
}

a:link, a:visited {
    color: var(--link-fg);
    text-decoration: none;
    transition: color 0.15s, background 0.15s;
}

a:focus, a:hover {
    color: var(--link-hover-color);
}

a:focus {
    text-decoration: underline;
}

/* exercise */

td.exercise {
    text-align: center;
    vertical-align: middle;
    height: 45px;
    padding-right: 10px;
}

th.exercise, td.exercise, td.exercise input {
    font-size: 18px;
}

th.exercise:last-child {
    text-align: center;
}

td.exercise:last-child {
    width: 300px;
    vertical-align: middle;
    text-align: center;
}

/* exercise_result */

table.results {
    margin-top: 30px;
}

th.results, td.results {
    vertical-align: top;
    text-align: center;
    width: 200px;
    height: 30px;
    font-size: 18px;
    padding-bottom: 15px;
}

/* Buttons exercise and exercise_result */

.button {
    display: inline-block;
    background: var(--button-bg);
    color: var(--button-fg);
    margin-top: 20px;
    margin-right: 20px;
    width: 110px;
    height: 40px;
    box-shadow: 1px 1px 0px black;
    border-radius: 4px;
    border: none;
    transition: background 0.15s;
    cursor: pointer;
}

.button:active, .button:focus, .button:hover {
    background: var(--button-hover-bg);
}

/* verbes_list, table_detail */

div.table-container {
    width: 70em;
    height: 55em;
    margin-top: 20px;
}

div.principal {
    margin-top: 40px;
}

table.list {
    border-collapse: collapse;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

thead.list {
    display: table;
    width: calc(100% - 1.05em);
    text-align: left;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

tbody.list {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    width: 100%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

tbody.list tr {
    width: 100%;
}

thead.list, tbody.list tr {
    display: table;
    table-layout: fixed;
}

th.list, td.list {
    font-size: 18px;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

td.list {
    height: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
}

th.list {
    height: 30px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

div.counter p {
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
}

/* Table list */

p.table-list {
    font-size: 18px;
}

ul.table-list {
    font-size: 18px;
    margin-left: 5px;
}

ul.table-list li {
    margin-bottom: 5px;
}

/* Icons table_list */

.icons-container {
    width: fit-content;
    padding-right: 15px;
}

.icon-update, .icon-delete {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    display: inline-block;
    text-indent: -3000px;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
}

.icons-container .icon-update,
.icons-container .icon-delete {
    visibility: hidden;
}

.icons-container:hover .icon-update,
.icons-container:hover .icon-delete {
    visibility: visible;
}

.icon-update, .icon-update:hover,
.icon-delete, .icon-delete:hover {
    margin-left: 10px;
}

.icon-update {
    background: url(../img/icons-update.svg) 0 0 no-repeat;
}

.icon-update:hover {
    background-position: 0 -16px;
}

.icon-delete {
    background: url(../img/icons-delete.svg) 0 0 no-repeat;
}

.icon-delete:hover {
    background-position: 0 -16px;
}