{% extends 'base.html' %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if not table.default %}

    {% block info %}{% endblock %}

    {{ form.media }}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="{% block div-margin-top %}mt-4{% endblock %}">
            <input class="btn me-3" type="submit" value="{% block value %}Envoyer{% endblock %}" name="envoyer">
            <input class="btn me-3" type="submit" formnovalidate value="Annuler" name="annuler">
        </div>

    </form>

{% else %}

<p>Vous ne pouvez pas modifier cette table !</p>

{% endif %}

{% endblock %}

