{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Verbes irréguliers anglais</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'verbes_app/css/bootstrap_modified.css' %}">

    </head>
    <body>
        {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid mt-2 ms-2">
                <a class="navbar-brand" href="#">
                    Vebres irréguliers
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item" style="list-style: none;">
                            <a class="nav-link {% block nav_item_verbes_list %}{% endblock %}" href="{% url 'verbe-list' %}">Tous les verbes</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a data-target="{% url 'table-list' %}" href="{% url 'table-list' %}" id="menu" data-bs-hover="dropdown" class="nav-link dropdown-toggle {% block nav_item_table_list %}{% endblock %}" role="button" data-bs-display="static">Listes</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" data-bs-hover="dropdown" href="#">Listes de base</a>
                                    <ul class="dropdown-menu">
                                        {% for table in tables %}
                                        {% if table.default is True %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'table-detail' table.id %}">{{ table.name }}</a>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#" data-bs-hover="dropdown" class="dropdown-item dropdown-toggle">Listes personnelles</a>
                                    <ul class="dropdown-menu">
                                        {% for table in tables %}
                                        {% if not table.default %}
                                        <li>
                                            <div class="icons-container ">
                                            <a class="dropdown-item" href="{% url 'table-detail' table.id %}">{{ table.name }}</a>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock %}

        {% block h1 %}
        <h1 class="ms-3 mt-4">{% block h1_content %}{% endblock %}</h1>
        {% endblock %}

        {% block content %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script src="{% static 'verbes_app/js/dataTables.js' %}"></script>

    </body>
</html>