{% extends 'base.html' %}

{% block content %}

    {% block info %}
    <div class="row">
        <div class="col-8">
            <p>{% block info_content_left %}{% endblock %}</p>
        </div>
        <div class="col-4 align-self-sm-start align-self-center text-end">
            {% block info_content_right %}{% endblock %}
        </div>
    </div>
    {% endblock %}

    {% block buttons %}
    <div class="btn-group flex-wrap mt-3 mt-md-0 ms-0 ms-md-4" role="group" aria-label="Basic checkbox toggle button group" id="button-group">
        <button type="button" class="btn switcher mb-3 mb-md-0" id="success" title="Afficher les verbes réussis">verbes réussis</button>
        <button type="button" class="btn switcher mb-3 mb-md-0" id="unsuccess" title="Afficher les verbes loupés">verbes loupés</button>
        <button type="button" class="btn switcher" id="not-done" title="Afficher les verbes non testés">verbes non testés</button>
    </div>
    {% endblock %}

    {% block table %}
    <table id="example" class="cell-border" style="width:100%;">
        <thead>
            <tr>
                <th>Present</th>
                <th>Preterit</th>
                <th>Present perfect</th>
                <th>Français</th>
            </tr>
        </thead>
        <tbody>
            {% block tbody %}{% endblock %}
        </tbody>
    </table>
    {% endblock %}

    {% block counter %}
    <div class="mt-3">
        <p class="d-inline-block me-3">Verbes testés : {% block tested_verbs %}{% endblock %}</p>
        <p class="d-inline-block me-3">Verbes réussis : {% block successed_verbs %}{% endblock %}</p>
        <p class="d-inline-block me-3">Verbes non testés : {% block not_tested_verbs %}{% endblock %}</p>
    </div>
    {% endblock %}

{% endblock %}