{% extends 'verbes_app/base.html' %}

{% block content %}

<h1>Exercice verbes irréguliers</h1>

<h2>Liste de verbes : {{ table.name }}</h2>

<form action="" method="post">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>Present</th>
                <th>Preterit</th>
                <th>Present perfect</th>
                <th>Français</th>
            </tr>
        </thead>
        <tbody>
            {% for verbe in verbes %}
            <tr>
                <td>{{ form.present }}</td>
                <td>{{ form.preterit }}</td>
                <td>{{ form.participe_passe }}</td>
                <td>{{ verbe.francais }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="hidden" name="verbes_id" value="{{ verbes_id }}">
    <input type="submit" value="Envoyer" formaction="{% url 'exercise-result' table.id %}">
</form>

{% endblock %}