{% extends 'base.html' %}

{% block h1_content %}
    Exercice verbes irréguliers
{% endblock %}

{% block content %}

<h2>Liste de verbes : {{ table.name }}</h2>

<div class="mt-4" style="max-width: 900px;">
    <form action="{% url 'exercise-result' table.id %}" method="post">
        {% csrf_token %}
        <table class="table" style="border-spacing: 1rem;">
            <thead>
                <tr>
                    <th class="col-2 text-center">Present</th>
                    <th class="col-2 text-center">Preterit</th>
                    <th class="col-2 text-center">Present perfect</th>
                    <th class="col-3 text-center">Français</th>
                </tr>
            </thead>
            <tbody>
                {% for verbe in verbes %}
                <tr>
                    <td class="text-center">{{ form.present }}</td>
                    <td class="text-center">{{ form.preterit }}</td>
                    <td class="text-center">{{ form.participe_passe }}</td>
                    <td class="text-center">{{ verbe.francais }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mt-4-">
            <input type="hidden" name="verbes_id" value="{{ verbes_id }}">
            <input class="btn" type="submit" value="Envoyer">
        </div>
    </form>
</div>

{% endblock %}