{% extends 'verbes_app/base_options.html' %}

{% block nav_item_table_list %}active{% endblock %}

{% block h1_content %}
    Création d'une nouvelle liste de verbes
{% endblock %}

{% block div-margin-top %}mt-0{% endblock %}

{% block js %}
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<!--Define global js var verbes otherwise it can't be used in script SelectBoxModified-->
<script type="text/javascript">var verbes_json = '{{ verbes | escapejs| safe }}'</script>
{% endblock %}