{% extends 'verbes_app/base_list.html' %}

{% block nav_item_table_list %}active{% endblock %}

{% load custom_filters %}

{% block h1_content %}
    Liste : {{ table.name }} <small>({{ table.verbes.count }} verbes)</small>
{% endblock %}

{% block info_content_left %}
    <a class="link" href="{% url 'exercise' table.id %}">S'entrainer sur ces verbes</a>
{% endblock %}

{% block info_content_right %}
    {% if not table.default %}
    <a href="{% url 'table-update' table.id %}" title="Modifier cette liste"><small>[modifier]</a>
    <a href="{% url 'table-delete' table.id %}" title="Supprimer cette liste"><small>[supprimer]</a>
    {% endif %}
    <a href="{% url 'table-reset' table.id %}" title="Réinitialiser cette liste"><small>[reset]</small>
    </small>
    </small></a>
{% endblock %}

{% block tbody %}
    {% for verbelist_object in table.table_verbes.all %} 
    <tr class="{% if verbelist_object.success is True %} success {% elif verbelist_object.success is False and verbelist_object.done is True %} unsuccess {% endif %}">
        <td>{{ verbelist_object.verbe.present }}</td>
        <td>{{ verbelist_object.verbe.preterit|replace:"/" }}</td>
        <td>{{ verbelist_object.verbe.participe_passe|replace:"/" }}</td>
        <td>{{ verbelist_object.verbe.francais }}</td>
    </tr>
    {% endfor %}
{% endblock %}

{% block tested_verbs %}
    {{ table.table_verbes|count_done }}
{% endblock %}

{% block successed_verbs %}
    {{ table.table_verbes|count_success }}
{% endblock %}

{% block not_tested_verbs %}
    {{ table.table_verbes|count_remainders }}
{% endblock %}