{% extends 'verbes_app/base.html' %}

{% block content %}

<h1>Listes des verbes disponnibles</h1>

<p>Listes de base :</p>

<ul>
    {% for table in tables %}
    {% if table.default is True %}
    <li>
        <a href="{% url 'table-detail' table.id %}">{{ table.name }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<p>Listes personnel :</p>
<ul>
    {% for table in tables %}
    {% if table.default is not True %}
    <li>
        <a href="{% url 'table-detail' table.id %}">{{ table.name }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<a href="{% url 'table-create' %}">Créer une nouvelle liste</a>

{% endblock %}