{% extends 'verbes_app/base.html' %}

{% block content %}

{% load custom_filters %}

<h1>{{ table.name }}</h1>

<div class="table-container">
    <table class="list">
        <thead class="list">
            <tr>
                <th class="list">Present</th>
                <th class="list">Preterit</th>
                <th class="list">Present perfect</th>
                <th class="list">Français</th>
            </tr>
        </thead>
        <tbody class="list">
            {% for verbe in table.verbes.all %} 
            <tr class="{% if verbe.success is True %} success {% elif verbe.success is False and verbe.done is True %} unsuccess {% endif %}">
                <td class="list">{{ verbe.present }}</td>
                <td class="list">{{ verbe.preterit }}</td>
                <td class="list">{{ verbe.participe_passe }}</td>
                <td class="list">{{ verbe.francais }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <caption>Liste contenant {{ table.verbes.count }} verbes</caption>
    </table>
</div>

<p>Verbes testés : {{ table.verbes|count_done }}</p>
<p>Verbes réussis : {{ table.verbes|count_success }}</p>
<p>Verbes non testés : {{ table.verbes|count_remainders }}</p>

{% endblock %}