{% extends 'verbes_app/base_list.html' %}

{% block nav_item_table_list %}active{% endblock %}

{% block h1_content %}
    Listes des verbes disponnibles
{% endblock %}

{% block info_content_left %}
    <a href="{% url 'table-create' %}">Créer une nouvelle liste</a>
{% endblock %}

{% block buttons %}{% endblock %}

{% block table %}
<p>Listes de base :</p>

<ul>
    {% for table in tables %}
    {% if table.default is True %}
    <li>
        <a href="{% url 'table-detail' table.id %}">{{ table.name }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<p>Listes personnelles :</p>

<ul>
    {% for table in tables %}
    {% if not table.default %}
    <li>
        <div class="icons-container d-inline-block me-3">
            <a href="{% url 'table-detail' table.id %}">{{ table.name }}</a>
            <a class="icon-update me-2" href="{% url 'table-update' table.id %}" title="Modifier">Update</a>
            <a class="icon-delete me-2" href="{% url 'table-delete' table.id %}" title="Supprimer">Delete</a>
        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}

{% block counter %}{% endblock %}