{% extends 'verbes_app/base_list.html' %}

{% load custom_filters %}

{% block nav_item_verbes_list %}active{% endblock %}

{% block h1_content %}
    Tous les verbes <small>({{ verbes.count }} verbes)</small>
{% endblock %}

{% block info_content_left %}
    Liste contenant tous les verbes irréguliers anglais
{% endblock %}

{% block info_content_right %}
    <a href="#" data-bs-toggle="modal" data-bs-target="#reset-all" title="Tout réinitialiser"><small>[reset]</small></a>
    {% include 'modal.html' with modal_id='reset-all' modal_title='Réinitialiser tous les verbes' form=reset_all_form modal_input_value='Reset' modal_input_name='reset-all' %}
{% endblock %}

{% block tbody %}
    {% for verbe in verbes %} 
    <tr class="{% if verbe.success is True %} success {% elif verbe.success is False and verbe.done is True %} unsuccess {% endif %}">
        {% if user.is_authenticated %}
        <td>{{ verbe.verbe.present }}</td>
        <td>{{ verbe.verbe.preterit|replace:"/" }}</td>
        <td>{{ verbe.verbe.participe_passe|replace:"/" }}</td>
        <td>{{ verbe.verbe.francais }}</td>
        {% else %}
        <td>{{ verbe.present }}</td>
        <td>{{ verbe.preterit|replace:"/" }}</td>
        <td>{{ verbe.participe_passe|replace:"/" }}</td>
        <td>{{ verbe.francais }}</td>
        {% endif %}
    </tr>

    {% endfor %}
{% endblock %}

{% block tested_verbs %}
    {{ verbes|count_done }}
{% endblock %}

{% block successed_verbs %}
    {{ verbes|count_success }}
{% endblock %}

{% block not_tested_verbs %}
    {{ verbes|count_remainders }}
{% endblock %}
