{% extends 'verbes_app/base_list.html' %}

{% load custom_filters %}

{% block nav_item_verbes_list %}active{% endblock %}

{% block h1_content %}
    Tous les verbes <small>({{ verbes.count }} verbes)</small>
{% endblock %}

{% block info_content_left %}
    Liste contenant tous les verbes irréguliers anglais
{% endblock %}

{% block info_content_right %}
    <a href="{% url 'reset-all' %}" title="Réinitialiser la liste"><small>[reset]</small></a>
{% endblock %}

{% block tbody %}
    {% for verbe in verbes %} 
    <tr class="{% if verbe.success is True %} success {% elif verbe.success is False and verbe.done is True %} unsuccess {% endif %}">
        <td>{{ verbe.present }}</td>
        <td>{{ verbe.preterit|replace:"/" }}</td>
        <td>{{ verbe.participe_passe|replace:"/" }}</td>
        <td>{{ verbe.francais }}</td>
    </tr>
    {% endfor %}
{% endblock %}

{% block tested_verbs %}
    {{ verbes|count_done }}
{% endblock %}

{% block successed_verbs %}
    {{ verbes|count_success }}
{% endblock %}

{% block not_tested_verbs %}
    {{ verbes|count_remainders }}
{% endblock %}